.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 120px;
  height: auto;
  filter: hue-rotate(0deg);
  animation: hueShift 6s linear infinite;
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}