@import '../assets/styles/minixs.scss';

$input-height: 48px;

.wrapper {
  position: relative;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
  padding: 12px 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  cursor: text;
  gap: 8px;
  transition: box-shadow var(--animation-duration);

  &>*:first-child {
    flex-grow: 1;
  }
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

.dropdown {
  @include popup-with-hidden;
  top: calc($input-height + 12px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 533px;
  gap: 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  padding: 12px;
  z-index: 5;
}

.options {
  overflow: auto;
  padding-right: 10px;
  max-height: 382px;
}

.selected {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__title {
    font-size: 14px;
    color: var(--neu-4);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 1px solid var(--neu-9);
    border-radius: 6px;
    padding: 6px;
    max-height: 93px;
    gap: 4px 6px;
  }
}

.subtitle {
  color: var(--neu-6);
}

.btn_clear {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 6px;
  width: 28px;
  height: 28px;
  background-color: var(--neu-9);
  transition: background-color var(--animation-duration) ease;

  &:hover {
    background-color: var(--blue-2);
  }

  & svg path {
    fill: var(--neu-12);
  }
}

.arrow {
  transition: all 0.6s ease;

  &_down {
    transform: rotate(180deg);
  }
}

.placeholder {
  font-size: 16px;
  color: var(--neu-8);
}

.search {
  position: relative;
  display: flex;

  &__icon {
    position: absolute;
    right: 8px;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    background-color: #6fda44; // зелёная кнопка
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;

      & path {
        fill: #fff;
      }
    }
  }

  &__input {
    --TextField-padding: 12px 48px 12px 16px;
    flex: 1;
    border: none;
    font-size: 16px;
    background: transparent;

    &::placeholder {
      color: var(--neu-8);
    }

    &:focus {
      outline: none;
    }
  }
}