@import '../../assets/styles/mixins';

$input-height: 32px;

.wrapper {
  position: relative;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--neu-8);
  border-radius: 6px;
  padding: 6px 8px 6px 12px;
  background-color: var(--neu-12);
  cursor: pointer;
  gap: 5px;

  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & > *:first-child {
    flex-grow: 1;
  }
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.dropdown {
  @include popup-with-hidden;

  top: calc($input-height + 12px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 533px;
  gap: 10px;
}

.options {
  overflow: auto;
  padding-right: 10px;
  max-height: 382px;
}

.selected {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__title {
    font-size: 14px;
    color: var(--neu-4);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 1px solid var(--neu-9);
    border-radius: 6px;
    padding: 6px;
    max-height: 93px;
    gap: 4px 6px;
  }
}

.subtitle {
  color: var(--neu-6);
}

.btn_clear {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--neu-9);
  transition: background-color var(--animation-duration) ease;

  &:hover {
    background-color: var(--blue-2);
  }

  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & svg path {
    fill: var(--neu-12);
  }
}

.arrow {
  transition: all 0.6s ease;

  &_down {
    transform: rotate(180deg);
  }
}

.placeholder {
  font-size: 14px;
  color: var(--neu-8);
}

.search {
  position: relative;
  display: flex;

  &__icon {
    position: absolute;
    left: 10px;
    top: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
    & svg path {
      fill: var(--neu-9);
    }
  }

  &__input {
    --TextField-padding: 8px 8px 8px 40px;

    flex: 1;
  }
}
